<header>
<div class="container">
  <nav class="navbar navbar-expand-md navbar-light">
    <%= link_to @index, index_path, class: "nav-link" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-table="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li>
            <%= link_to @Team, team_path, class: "nav-link" %>
            
          </li>
          <li>
            <%= link_to @Contact, contact_path, class: "nav-link" %>
            
          </li>
      </div>
    </nav>
  </div>
</header>


<h3>Voici l'équipe</h3>

<p>- Hugo Calmels </p>
